*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins', sans-serif;
  background-color: black;

}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;

}

.navbar ul li{
  display: inline-block;
  padding: 15px 10px ;
  margin: 0 10px;
}

a{
  color: white;
}
a.active{
  color: yellow;
}

.navbar button{
background: white;
  padding: 12px 25px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  cursor: pointer;
}



.centered {
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;  /* Centers vertically */
  height: 100vh;  /* Makes the container take full height of the viewport */
  text-align: center;  /* Centers text inside */
  font-weight: 500;
  font-size: 30px;
}

